{% extends 'navbar_1.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ehPasar | Feedback</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center" style="font-size: 36px;">
				Feedback
			</h3>
		</div>
	</div>
    <div>
        {% for feedb in feedback %}
        <div class="row">
            <div class="col-md-12">
                <h3 style="font-size: 36px;">
                    {{ feedb.date }}
                </h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top" src="{% static 'img/cabai.png'%}">
            </div>
            <div class="col-md-8">
                <h3 style="font-size: 36px;">
                    {{ feedb.idbarang.namaBarang }}
                </h3>
                <p style="font-size: 20px;">
                    {{ feedb.content }}
                </p>
                <p style="font-size: 20px;">
                    {{ feedb.user.username }}
                </p>
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'feedback:editfeedback' feedb.id %}"><button type="button" class="btn btn-warning">
                            Edit
                        </button></a>
                        <a href="{% url 'feedback:deletefeedback' feedb.id %}"><button type="button" class="btn btn-danger">
                            Delete
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-10">
        <a href="{% url 'feedback:savefeedback' %}">
            <button type="button" class="btn btn-success" style="float:right;">Tambah Feedback</button>
        </a>
    </div>
</div>

<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content" method="POST" action="#">
        {% csrf_token %}
        <div>
            <h1>Delete Feedback</h1>
            <p>Apakah kamu yakin ingin menghapusnya?</p>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-warning">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
</div>


{% endblock content %}

{% block javascripts %}
<script>
    function dlt() {
    document.getElementById('id01').style.display='block';
    var modal = document.getElementById('id01');


    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
}
</script>
{% endblock javascripts %}

