{% extends 'navbar_1.html' %}
{% load static %}

{% block meta %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/style.css' %}">
    <title>ehPasar | Save Feedback</title>
{% endblock meta %}

{% block content %}
<div class="container" style="margin-top:100px;">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center" style="font-size: 64px; margin-bottom:33px;">
				Create Feedback
			</h3>
			<p style="font-size: 36px;">
				<script> document.write(new Date().toLocaleDateString());</script>
			</h3>
            <hr>
			<form role="form" action="savefeedback" method="GET">
                {% csrf_token %}
				<div class="form-group">
					<label for="exampleInputFeedback" style="font-size: 38px;">
					Barang
				</label>
					<div><select>
						{% for barang in barang %}
						<option value="{{baranng.id}}"> {{barang.namaBarang}} </option>
						{% endfor %}
					</select></div>
					<label for="exampleInputFeedback" style="font-size: 38px;">
						Feedback
					</label>
					<div>{{ feedback_form.content }}</div>
				</div>
				<button type="submit" class="btn btn-success">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}
