body {
    background-color: #E5E5E5;
    font-family: 'Josefin Sans', sans-serif;
    word-wrap: break-word;
}

.container{
margin-top:30px; 
}

.dropbtn {
padding: 10px 10px;
font-size: 16px;
border: none;
border-radius: 5px;
background-color: white;
width: 100%;
}

.dropdown {
position: relative;
display: inline-block;
background-color: white;
}

.dropdown-content {
display: none;
background-color: white;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
min-width: 100%;
min-height: 100%;
}

.dropdown-content button:hover {background-color: rgb(184, 184, 184);}

.dropdown:hover .dropbtn {background-color: rgb(231, 231, 231);}



.button{
padding: 12px 16px;
border: none;
background-color: white;
align-items: center;
}

.cards{
display: grid;
grid-template-columns: repeat(6, minmax(auto, 200px));
grid-column: 2 / span 6;
grid-gap: 30px;
margin-top: 20px;
margin-bottom: 20px;
}

.card{
border: 1px solid;
border-radius: 20px;
margin: 10px;
padding: 10px;
grid-column-end: span 2;
display: flex;
flex-direction: column;
}

.card:hover{
box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
right: 2px;
bottom: 3px;
}

.card-img-top{
border-radius: 10px 10px 0px 0px;
}

.search-bar{
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
margin-bottom: 0px;
}

.search{
border-width: 1px 0px 1px 1px;
width: 90%;
}

.search-btn{
padding: 10px 10px;
float:right;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
width: 10%;
border-width: 1px 1px 1px 0px;
background-color:#b1b1b1
}

.search-btn:hover {background-color: rgb(99, 99, 99);}

.judul{
font-size: 40px;
color: #FF8600;
padding-bottom: 30px;
}

input{
padding: 10px 5px;
}

.tambahan {
display: grid;
grid-template-columns: auto auto;
}

@media only screen and (max-width: 700px) {
.card {
    grid-column-end: span 6;
}

.search-container{
 grid-area: 1/span 3;
}
#btn-lokasi{
  grid-area: 2 / 1 / 2 / 1;
  width: 100%;
}
#btn-kategori{
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
}
.pengunjung{
  grid-area: 1/span 2;
}
.saran{
  grid-area: 2/span 2;
}
}