#title {
    font-size : 64px;
    margin-top: 66px;
}

#top {
    margin-top: 100px;
}

.font-mid {
    font-size: 36px;
}

.font-price {
    font-size: 46px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}