{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% block title %}

    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-3 mb-5" id="navigation" style='background-color: white;'>
    <div id="left-nav">
        <a class="navbar-brand" href="#" id="logo">ehPasar</a>
        <!--<a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/.png' %}" alt="" id="logo">
        </a>-->
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" id="tombol-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="navbar-nav ml-auto">
            
            <a class="nav-link nav-item" href="{% url 'signup:sign_in' %}">Sign In</a>
            
            <a href="{% url 'signup:signup' %}"><button type="button" class="btn btn-primary" style="background-color: #98D5CD;outline-color: #98D5CD;color: black;">Sign Up</button></a>
            
            
        </div>
    </div>
    </nav>
{% block content %}


{% endblock %}
</body>



</html>