{% extends 'navbar_1.html' %}
{% block head %}
        <title>ehPasar | Buat Post Baru</title>
        <style>
        body {
            background-color: #E5E5E5;
            font-family: 'Josefin Sans', sans-serif;
            word-wrap: break-word;
        }
        #btn-submit {
            margin-top: 30%;
            background-color: #98D5CD;
            color: white;
            padding: 20%;
            padding-left: 60%;
            padding-right: 60%;
            font-size: 100%;
            border-radius: 12px;
        }
        #addpost-table > td, th {
            text-align: left;
            padding: 2%;
        }
        .addpost-container {
            display: flex;
            justify-content: center;
        }
        .addpost-table, .addpost-submit {
            justify: center;
        }
        #id_description {
            resize: none;
            width: 100%;
            height: 200px;
        }
        #id_name {
            resize: none;
            width: 100%;
            height: 100px;
        }
        </style>
{% endblock %}
{% block body %}
    <br><br>
    {% if not request.user.is_authenticated %}
    <p>&nbsp;&nbsp;You are not logged in</p>
    {% else %}
    <center><h1>Buat Post Baru</h1></center>
    <form method="POST" action="{% url 'addPost' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="addpost-container">
            <div class="addpost-table">
                <table id="addpost-table">
                    <tr><th><label for="id_name">Nama:</label></th><td>
                        <textarea type="text" name="name" autocomplete="off" maxlength="200" required id="id_name"></textarea>
                        <div class="word-counter" id="counter-name">0/200</div>
                    </td></tr>
                    <tr><th><label for="id_image">Gambar:</label></th><td><input type="file" name="image" accept="image/*" id="id_image"></td></tr>
                    <tr><th><label for="id_price">Harga (Rupiah):</label></th><td><input type="number" name="price" autocomplete="off" required id="id_price"></td></tr>
                    <tr><th><label for="id_name">Jumlah:</label></th><td>
                    <tr><th><label for="id_location">Lokasi:</label></th><td>{{ add_form.location }}</td></tr>
                    <tr><th><label for="id_category">Kategori:</label></th><td>{{ add_form.category }}</td></tr>
                        <textarea type="text" name="description" autocomplete="off" maxlength="2200" required id="id_description"></textarea>
                        <div class="word-counter" id="counter-description">0/2200</div>
                    </td></tr>
                </table>
            </div>
        </div>
        <div class="addpost-container">
            <div class="addpost-submit"><button id="btn-submit" type="submit">Submit</button></div>
        </div>
    </form>
    <script>
        $('#id_description').keyup(function(){
            $('#counter-description').text(this.value.length+'/2200');
        })
        $('#id_name').keyup(function(){
            $('#counter-name').text(this.value.length+'/200');
        })
    </script>
    {% endif %}
{% endblock %}
