{% extends 'navbar_1.html' %}
{% load postdetailsFilter %}
{% block head %}
    <title>ehPasar | Buat Review untuk {{ post }} oleh {{ post.user.name }} (@{{ post.user.username }})</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: #E5E5E5;
            font-family: 'Josefin Sans', sans-serif;
            word-wrap: break-word;
        }
        .container-postdetail {
            display: flex;
        }
        .container-postdetail > .postdetail {
            margin-left: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-right: 5%;
            width: 60%;
        }
        .postdetail > #name {
            font-size: 300%;
        }
        .postdetail > #price {
            font-size: 200%;
        }
        .postdetail > p, .list {
            font-size: 120%;
        }
        .container-postdetail > .postimage {
            margin-left: 5%;
            margin-top: 8%;
            margin-bottom: 5%;
            margin-right: 5%;
            width: 40%;
        }
        .container-postdetail > .postimage > img {
            width:100%;
        }
        .tambah-ulasan {
            display: flex;
            flex-direction: column;
            font-size: 125%;
        }
        .tambah-ulasan > .review-submit {
            margin-right: 18.275%;
            margin-left:auto;
            width: 10%;
            height: 35px;
        }
        .tambah-ulasan > .review-submit > #btn-submit {
            background-color: #27187E;
            color: white;
            font-size: 75%;
            border-radius: 12px;
            width: 100%;
            height: 35px;
        }
        .tambah-ulasan > .review-content {
            margin-left: 15%;
        }
        .tambah-ulasan > .review-content > #id_review {
            width: 78.5%;
            height: 200px;
            resize: none;
        }
        .tambah-ulasan > .review-rating {
            margin-left: 15%;
            display: flex;
            flex-direction: row;
        }
        #review-rating-label {
            margin-bottom: -10%;
        }
        .review-rating > #id_rating {
            margin-left: 5%;
            transform: rotate(180deg);
        }
        .review-rating > #id_rating label {
            text-shadow: 0 0 1px #000000;
            color: #ddd;
            transform: rotate(180deg);
        }
        .review-rating > #id_rating input {
            display: none;
        }
        
        #id_rating > input:checked ~ label, /* show gold star when clicked */
        #id_rating:not(:checked) > label:hover, /* hover current star */
        #id_rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
        
        #id_rating > input:checked + label:hover, /* hover current star when changing rating */
        #id_rating > input:checked ~ label:hover,
        #id_rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        #id_rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
        
        @media only screen and (max-width: 800px) {
            .container-postdetail {
                flex-direction: column;
            }
            .container-postdetail > .postimage {
                width: 90%;
            }
            .container-postdetail > .postdetail{
                width: 90%;
            }
            .tambah-ulasan > .review-submit {
                width: 20%;
            }
        }
    </style>
{% endblock %}
{% block body %}
        <!-- <div class="container-postdetail">
            <div class="postimage">
                {% if post.image %}
                <img src="{{ post.image.url|slice:':-16' }}">
                {% else %}
                {% endif %}
            </div> -->
            <div class="postdetail">
                <h1 id="name">{{ post.name }}</h1>
                <h5 id="price">{{ post.price | priceFilter }}</h5>
                <p id="desc">{{ post.description }}</p>
                <p>Location: </p>
                <ul class="list">
                {% for location in post.location.all %}
                <li class="location">{{ location }}</li>
                {% endfor %}
                </ul>
                <p>Category:</p>
                <ul class="list">
                {% for category in post.category.all %}
                <li class="category">{{ category }}</li>
                {% endfor %}
                </ul>
                
                <p id="created-at">Posted at {{ post.created_at }}</p>
            </div>
        </div>
        <hr>
        <form method="POST" action="{% url 'addReview' post_id=post.id %}">
            {% csrf_token %}
            <div class="container-tambah-ulasan">
                <center><h1>Ulasan Kamu</h1></center>
                <div class="tambah-ulasan">
                    <div class="review-rating">
                        <div id="review-rating-label"><label>Beri rating</label></div>
                        <div id="id_rating">
                            <input type="radio" name="rating" value="5" required id="id_rating_4"><label class="fa fa-star" for="id_rating_4"></label>
                            <input type="radio" name="rating" value="4" required id="id_rating_3"><label class="fa fa-star" for="id_rating_3"></label>
                            <input type="radio" name="rating" value="3" required id="id_rating_2"><label class="fa fa-star" for="id_rating_2"></label>
                            <input type="radio" name="rating" value="2" required id="id_rating_1"><label class="fa fa-star" for="id_rating_1"></label>
                            <input type="radio" name="rating" value="1" required id="id_rating_0"><label class="fa fa-star" for="id_rating_0"></label>
                        </div>
                    </div>
                    <div><br></div>
                    <div class="review-content">
                        <label for="id_review">Komentar</label>
                    </div>
                    <div class="review-content">
                        <textarea type="text" name="review" autocomplete="off" maxlength="200" required id="id_review"></textarea>
                        <div class="word-counter">0/200</div>
                    </div>
                    <div class="review-submit"><button id="btn-submit" type="submit">Submit</button></div>
                </div>
            </div>
        </form>
        <script>
            $('#id_review').keyup(function(){
                $('.word-counter').text(this.value.length+'/200');
            })
        </script>
{% endblock %}
