{% extends 'navbar_1.html' %}
{% load postdetailsFilter %}
{% block title %}
    <title>ehPasar </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container{
            margin-top:100px; 
        }
        .cards{
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 200px));
    grid-column: 2 / span 6;
    grid-gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .card{
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    grid-column-end: span 2;
    display: flex;
    flex-direction: column;
    }
    
    .card:hover{
    box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
    right: 2px;
    bottom: 3px;
    }
    
    .card-img-top{
    border-radius: 10px 10px 0px 0px;
    }
    .judul{
        text-align: center;
    }
    
    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    button:hover {
      opacity:1;
    }
    
    .checkout {
      background-color: #98d5cd;
      width: 10em;
      height: 4em;
      margin: 10 px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    } 
    
    /* Float cancel and delete buttons and add an equal width */
    .cancelbtn, .deletebtn {
      float: left;
      width: 50%;
    }
    
    /* Add a color to the cancel button */
    .cancelbtn {
      background-color: #ccc;
      color: black;
    }
    
    /* Add a color to the delete button */
    .deletebtn {
      background-color: #f44336;
    }
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: #474e5d;
      padding-top: 50px;
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    /* Style the horizontal ruler */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
     
    /* The Modal Close Button (x) */
    .close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #f1f1f1;
    }
    
    .close:hover,
    .close:focus {
      color: #f44336;
      cursor: pointer;
    }
    
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
    </style>

{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-3" style='margin: 10px; width: 10px;'>
            <a style = "font-size:24px" href="{% url 'listBarang:listBarang' %}" class="fa fa-arrow-left"></a>
        </div>
        <div class="col">
            <h1 class='judul'>Checkout</h1>
        </div>
    </div>
<div>
  
  <div>
    <h2> Barang pesanan </h2>
    {% for listf in listfavorit %}
    <h3>{{ listf.idbarang.namaBarang }} - {{ listf.idbarang.hargaBarang }}<h3>
    {% endfor %}

    <h3> = {{ price }} </h3>
<p>------------------------------------------------</p>
    <h3> Estimasi =  1 jam</h3>  
    <h3> Total  =  {{ total }}</h3>  
  </div>

{% endblock %}