{% extends 'navbar_1.html' %}

{% load static %}

{% block title %}
    <style>
    .container{
        margin-top:100px; 
    }
    .cards{
display: grid;
grid-template-columns: repeat(6, minmax(auto, 200px));
grid-column: 2 / span 6;
grid-gap: 30px;
margin-top: 20px;
margin-bottom: 20px;
}

.card{
border: 1px solid;
border-radius: 20px;
margin: 10px;
padding: 10px;
grid-column-end: span 2;
display: flex;
flex-direction: column;
}

.card:hover{
box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
right: 2px;
bottom: 3px;
}

.card-img-top{
border-radius: 10px 10px 0px 0px;
}
.judul{
    text-align: center;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.checkout {
  background-color: #98d5cd;
  width: 10em;
  height: 4em;
  margin: 10 px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
} 

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

</style>
    <title>List Favorit</title>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row align-items-start">
      <div class="col-3" style='margin: 10px; width: 10px;'>
        <a style = "font-size:24px" href="{% url 'listBarang:listBarang' %}" class="fa fa-arrow-left"></a>
      </div>
      <div class="col">
        <h1 class='judul'>List Favorit</h1>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="cards" id="cards">
        {% for listf in listfavorit %}
        <div class="card" id='coba'style="background-color: white;visibility: visible;">
          <a  class= "content" href="{% url 'listfavorit:detailListFavorit' listf.id %}" style="color: black; text-decoration: none;">
              <img class="card-img-top" src="{% static 'img/cabai.png'%}">
              
              <p style="text-align: center;margin-top: 7px;font-size: 25px;">{{ listf.idbarang.namaBarang }}</p>
              
              <p style="font-size: 17px;">Rp {{ listf.idbarang.hargaBarang }}</p>
              
              <p style="font-size: 17px;">Tersedia {{ listf.idbarang.jumlahStok }}</p>
              <div>
                  <a style="font-size: 17px;"><img class="logo" src="{% static 'img/Star.jpg' %}">{{ listf.idbarang.ratingBarang }}</a>
                  <div class="float-right">
                      <div class="form-check" id='check' style='visibility: hidden;'>
                          <input class="form-check-input" type="checkbox" value="Cabai Merah" id="cabai1" style="width:20px;
                          height:20px;">
                      </div>
                  </div>
              </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
      <a href="{% url 'listfavorit:checkout' %}" class="btn checkout">Checkout </a>
    </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}