{% extends 'navbar.html' %}
{% load static %}
{% block title %}
    <style>
        .container{
margin-top:100px; 
}

    </style>
    <title>Homepage</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Mau belanja di pasar tapi jauh dari rumah?</h1>
    <h3>Kami punya solusinya!!</h3>
    <a type="button" class="btn btn-primary" href="{% url 'signup:signup' %}">Sign Up</a>
</div>
{% endblock %}